@import "../../styles/index.scss";

.button {
  color: $white;
  width: 120px;
  font-size: 14px;
  margin-top: $medium-padding;
  background-color: black;
  transition: all 0.3s ease;
  padding: $default-padding $small-padding;

  &:hover {
    background-color: $black-hover;
  }
}
