@import "../../styles/index.scss";

.menu {
  top: 0;
  left: 101px;
  width: 250px;
  height: 100vh;
  padding: 25px 5px;
  position: absolute;
  background-color: $white;
  @include flex-column;
  align-items: center;
  justify-content: end;
  box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.15);
}

.nav {
  gap: 30px;
  font-size: 20px;
  padding-top: 300px;
  @include flex-column;
  align-items: center;
}

.navItem {
  font-weight: bold;
  text-transform: uppercase;
}

.author {
  margin-top: auto;
}

.authorItem {
  font-size: 14px;
  color: $dark-grey;
  font-weight: lighter;
}
