@import "../../styles/index.scss";

.card {
  @include flex-column();
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background-color: $white;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;

    .name {
      text-decoration: line-through;
    }
  }
}

.imageWrapper {
  width: 100%;
  max-width: 600px;
}

.image {
  width: 100%;
  object-fit: cover;
}

.info {
  @include flex-column();
  align-items: center;
  margin-top: -100px;
}

.name {
  font-size: 20px;
}

.price {
  font-size: 14px;
  color: $dark-grey;
}
