@import "../../styles/index.scss";

.container {
  width: 100%;
  margin: auto;
  max-width: 500px;
  display: flex;
  padding-left: 60px;
  @include flex-column;
  justify-content: center;
}

.info {
  gap: $medium-padding;
  @include flex-column;
  align-items: flex-start;
}

.logoName {
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
  text-decoration: line-through;
}

.name {
  font-size: $large-padding;
}

.price {
  // font-size: 16px;
}

.description {
  color: $dark-grey;
}
