@import "../../styles/index.scss";

.nav {
  top: 0;
  z-index: 1000;
  height: 100vh;
  position: fixed;
  @include flex-column;
  align-items: center;
  padding: $medium-padding * 2;
  justify-content: space-between;
  border-right: 1px solid $light-grey;
  background-color: $white;
}

.list {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cart {
  position: relative;
}

.cartIcon {
  font-size: 35px;
}

.cartQuantity {
  top: 13px;
  left: 13px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.bars {
  font-size: 38px;
}
